.kit-textarea{
    border: lightgrey solid 1px;
    text-align: center;
    resize: none;
}
.kit-audio{
    background-color: whitesmoke;
}
.kit-video{
    width: 300px;
    height: 160px;
    background-color: black;
}
.kit-youtube{
    width: 300px;
    height: 201px;
}
.kit-input{
    border: lightgrey solid 1px;
    text-align: center;
}
.kit-footer{
    position: sticky;
    margin-top: 47em;
    text-align: center;
}
.kit-alert{
    position: absolute;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    width: 440px;
    right: 0px;
    bottom: 0px;
    margin-right: 5px;
    text-align: center;
}
.kit-alert-button{
    position: absolute;
    top: 4px;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
    background-color: transparent;
    border: 0;
}
.kit-alert-button > span{
    font-size: 20px;
}
.kit-alert-button:hover > span{
    color: black;
}
.kit-alert-primary{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.kit-alert-success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.kit-alert-warning{
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.kit-alert-failure{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.kit-card{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.kit-card-img-top{
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.kit-card-body{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.kit-card-body-content{
    margin-bottom: -10px;
}
.kit-card-title{
    margin-bottom: 0.75rem;
    font-size: 1.25rem
}
.kit-card-text{
    font-size: 1rem
}
#kit-input{
    width: 50%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
#kit-filter-parent {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 55%;
}

#kit-filter-parent li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#kit-filter-parent li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}
/* Animations */
.kit-animation-appear{
    animation-name: kit-appear;
    animation-duration: 4s;
}
@keyframes kit-appear {
    from {opacity: 0;}
    to {opacity: 1;}
}
.kit-animation-disappear{
    animation-name: kit-disappear;
    animation-duration: 4s;
}
@keyframes kit-disappear {
    from {opacity: 1;}
    to {opacity: 0;}
}
.kit-spinner {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 30px;
    height: 30px;
}
.kit-spinner-animation{
    animation: kit-spinner-spin 2s linear infinite;
}
@keyframes kit-spinner-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}