.kit-textarea{

}
.kit-audio{

}
.kit-video{

}
.kit-youtube{

}
.kit-input{

}
.kit-footer{

}
.kit-alert{
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.kit-alert-primary{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.kit-alert-success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.kit-alert-warning{
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.kit-alert-failure{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.kit-card{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.kit-card-img-top{
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.kit-card-body{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.kit-card-title{
    margin-bottom: 0.75rem;
}